<section class="admin-categories-new">

  <header class="page-header">
    <h1>Users &raquo; Signup!</h1>
  </header>

<div class="row">
  <div class="col-sm-6 col-sm-offset-1">
    <%= form_for :user, url: '/users' do |form| %>
      <div class="form-group">
        First Name: <%= form.text_field :firstname, class: 'form-control' %>
      </div>
      <div class="form-group">
        Last Name: <%= form.text_field :lastname, class: 'form-control'  %>
      </div>
      <div class="form-group">
        Email: <%= form.text_field :email, class: 'form-control'  %>
      </div>
      <div class="form-group">
        Password: <%= form.password_field :password, class: 'form-control'  %>
      </div>
      <div class="form-group">
        Password Confirmation: <%= form.password_field :password_confirmation, class: 'form-control'  %>
      </div>
      <%= form.submit 'Sign Up', class: 'btn btn-primary' %>

    <% end %>
    </div>
  </div>
</section>